<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Timestamp</th>
      <th>Number of Household Members</th>
      <th>What Energy-Related Problems Do You Face (Select All Applicable Choices)</th>
      <th>If facing any Energy-Related Problems, where do they occur? (Select All Applicable Choices)</th>
      <th>If yes, what is the thermostat temperature in the winter?</th>
      <th>If yes, what is the thermostat temperature in the summer?</th>
      <th>What type of light bulbs do you buy? (Select all that apply)</th>
      <th>When leaving a room, how often do you turn off the lights?</th>
      <th>When leaving a room, how often do you turn off televisions?</th>
      <th>How often do you run the kitchen exhaust fan when cooking on the stove?</th>
      <th>How often do you run the dishwasher?</th>
      <th>How often do you run the clothes washer and dryer?</th>
      <th>What heat setting do you wash your clothes on?</th>
      <th>When do you leave the water tap running (Choose All Applicable)</th>
      <th>How many minutes do you spend while taking a shower:</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>11/15/2022 15:16:08</td>
      <td>1</td>
      <td>-1</td>
      <td>-1</td>
      <td>65.0</td>
      <td>95.0</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>4</td>
    </tr>
    <tr>
      <th>1</th>
      <td>11/15/2022 19:29:47</td>
      <td>2</td>
      <td>2</td>
      <td>5</td>
      <td>70.0</td>
      <td>89.8</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>11/16/2022 17:26:54</td>
      <td>2</td>
      <td>2</td>
      <td>14</td>
      <td>73.0</td>
      <td>90.4</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
      <td>-1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>11/21/2022 17:34:28</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
      <td>80.1</td>
      <td>85.0</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>11/21/2022 18:01:43</td>
      <td>1</td>
      <td>123</td>
      <td>23</td>
      <td>63.0</td>
      <td>94.5</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>1</td>
      <td>-1</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>5</th>
      <td>11/21/2022 18:49:35</td>
      <td>3</td>
      <td>3</td>
      <td>8</td>
      <td>90.0</td>
      <td>80.0</td>
      <td>1</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
      <td>1</td>
      <td>2</td>
      <td>1</td>
      <td>4</td>
      <td>3</td>
    </tr>
  </tbody>
</table>